body {

    margin: 0;
    font-family: Arial;
    line-height: 1.5;
}

header {
    color: beige;
    text-align: center;
    line-height: 70px;
    width: 100%;
    height: 70px;
    background-color: cornflowerblue;
}

header h1{
    margin: 0;
}

.body{
    width:80%;
    margin:0 auto;
    text-align: justify;
}


.sendnotification{
    width:100%;
    background-color: burlywood;
}

.form{
    padding:1%;
    text-align: center;
}

.form h2{
    color: beige;
    margin:1%;
}

select{
    margin:2% 0;
    border:none;
    width:70%;
    height:30px;
    font-size: 100%;
}

textarea{
    width:90%;
    height: 100px;
}

button{
    padding:0 2%;
    color:beige;
    background-color: saddlebrown;
    border:none;
    width: auto;
    height:40px;
    font-size: 100%;
}

button:hover{
    cursor: pointer;
    background-color: chocolate;
}

footer{
    width:100%;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: saddlebrown;
}